
html{
  font-size: 18px;
  font-family: helvetica, sans-serif;
}

.main-banner{
  height: 30rem;
  width: 100%;
  background: url("../Pictures/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container .headline{
  padding: .5rem;
  position: relative;
  width: 70%;
  background-color: cadetblue;
  color: white;
  margin-top: 2%;
  margin-left: 15%;
  display: inline-flex;
  align-items: center;
}

.container .logo{
  display: inline-flex;
  align-items: center;
  padding-left: 2rem;
  height: 10%;
}

.container .menu{
  padding-left: 32.5rem;
}

 .container .menu ul li{
  display: inline-flex;
  align-items: center;
  padding: 0 1rem;
}
