
html{
  font-size: 18px;
  font-family: helvetica, sans-serif;
}

.main-banner{
  height: 30rem;
  width: 100%;
  background: url("../Pictures/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container{
  display: inline-flex;
  align-items: center;
}

.headline .container{
  padding: .5rem;
  position: relative;
  width: 70%;
  background-color: cadetblue;
  color: white;
  margin-top: 2%;
  margin-left: 15%;
}

.logo img{
  display: inline-flex;
  align-items: center;
  padding-left: 2rem;
  max-height: 6rem;
}

.menu{
  padding-left: 32.5rem;
}

 .menu ul li{
  display: inline;
  padding: 0 1rem;
}
